.getaPresentModal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(52deg, #94e6f4, #ffcde8);
    font-family:'Montserrat', sans-serif;
    z-index: 20;

    .gApres--content{
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 75px 75px 65px 70px;
        border: none;
        width: 70%;
        box-shadow: 0 0 1px 0 rgba(0,0,0,.2),0 -1px 10px 0 rgba(0,0,0,.10);
        animation-name: animatetop;
        animation-duration: 0.4s;
        border-radius: 50px;
        margin-top: 70px;
        max-width: 1030px;

        @include xxl {
            padding: 60px 50px 60px 65px;
        }

        @include xl {
            width: 100%;
        }

        @include lg {
            width: 89%;
            padding: 50px 10px 40px 45px;
            margin: 100px auto auto;
        }

        @include sm {
            margin: 65px auto 70px;
        }

        @include xs {
            padding: 30px 10px 30px 30px;
        }

        .gApres__modal--body{
            .gApres__modal__sides{

                display: flex;

                @include md {
                    justify-content: flex-start;
                }

                @include sm {
                    flex-direction: column;
                    gap: 20px 0;
                }

                .gApres__L__side{

                    @include md {
                        width: 60%;
                    }

                    @include sm {
                        width: 100%;
                    }

                    .gApres__mainTitle{
                        margin-top: 0;
                        margin-bottom: 45px;

                        @include sm {

                            margin-bottom: 10px;

                            br {
                                display: none;
                            }
                        }

                        @include xxs {
                            font-size: 15px;
                            line-height: 25px;
                        }
                    }

                    .gApres__L__side--text{
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 20px;
                        color: #515151;
                        margin-bottom: 25px;
                    }

                    .gApres__L__side__soc__block{
                        display: flex;
                        gap: 0 30px;
                        align-items: center;
                        margin-bottom: 45px;

                        @include xxl {
                            margin-bottom: 17px;
                        }

                        @include xs {
                            margin-bottom: 15px;
                            align-items: center;
                            gap: 0 15px;
                        }

                    }

                    .gApres__Form{
                        .gApres__Form--input{
                            width: 100%;
                            padding: 30px 0 25px 25px;
                            margin-bottom: 25px;
                            border: 2px solid #515151;
                            border-radius: 10px;
                            line-height: 40px;
                            font-size: 18px;
                            outline: none;  

                            @include xxl {
                                width: 85%;
                                padding: 15px 0 20px 15px;
                            }

                            @include sm {
                                width: 90%;
                                padding: 10px 0 10px 15px;
                            }

                            @include xs {
                                padding: 5px 0 5px 15px;
                                margin-bottom: 15px;
                            }

                            @include xxs {
                                line-height: 30px;
                                font-size: 14px;
                            }
                        }

                        .gApres__Form--submit{
                            padding: 30px 0;
                            width: 100%;
                            background-color: #fe5a65;
                            border-radius: 35px;
                            border: none;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 30px;
                            color: white;
                            text-transform: uppercase;
                            cursor: pointer;

                            @include xxl {
                                padding: 30px 0;
                                width: 85%;
                            }

                            @include sm {
                                padding: 15px 0;
                                width: 90%;
                            }

                            @include xs {
                                font-size: 12px;
                                line-height: 24px;
                                padding: 15px 0;
                            }

                            @include xxs {
                                font-size: 10px;
                                line-height: 14px;
                            }
                        }

                    }
                }

                .gApres__R__side{
                    margin-left: 30px;

                    @include xxl {
                        margin-left: 5px;
                    }

                    @include sm {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: 0;
                    }

                    .gApres__R--subtitle{
                        font-weight: 700;
                        line-height: 25px;
                        font-size: 18px;
                        color: #515151;
                        margin-bottom: 30px;

                        @include sm {
                            margin-bottom: 20px;
                            margin-right: 80px;
                        }

                        @include xs {
                            margin-right: 0;

                            br {
                                display: none;
                            }
                        }
                    }

                    .gApres__R--lists{
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px 0;
                        margin-bottom: 55px;

                        @include sm {
                            margin-bottom: 15px;
                        }

                        li {
                            font-size: 15px;
                            line-height: 25px;
                            color: #515151;

                            img{
                                width: 8px;
                                height: 8px;
                                object-fit: cover;
                                margin-right: 20px;
                            }
                        }
                    }

                    .gApres__R--info{
                        margin-left: 35px;

                        @include xl {
                            margin-left: 5px;
                        }

                        @include sm {
                            text-align: center;
                            width: 85%;
                            margin-left: 0;
                        }

                        @include xs {
                            text-align: start;
                        }

                        .gApres__R--text{
                            font-size: 15px;
                            line-height: 25px;
                            color: #515151;
                        }
    
                        .gApres__R--text__Grad{
                            font-size: 15px;
                            line-height: 25px;
                            background-color: linear-gradient(52deg, #3b8dff 20%, #7ed5ff 50%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin: 5px 0 5px 0;
    
                            span{
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 26px;
                            }
                        }
    
                        .gApres__R--subtitle__bold{
                            font-weight: 700;
                            font-size: 15px;
                            color: #515151;
                            margin-bottom: 80px;

                            @include xxl {
                                margin-bottom: 50px;
                            }

                            @include sm {
                                margin-bottom: 15px;
                            }
                        }
    
                        .gApres__R__side--lastP{
                            line-height: 25px;
                            font-size: 18px;
                            color: #515151;
                            margin-bottom: 15px;
    
                        }
    
                        .gApres__L__side--tel{
                            font-weight: 700;
                            line-height: 40px;
                            font-size: 28px;
                            color: black;
                            text-decoration: none;
                            letter-spacing: 1px;

                            @include sm {
                                line-height: 30px;
                                font-size: 27px;
                            }

                        }
                    }
                }
            }

            .gApresentClose{
                position: absolute;
                top: -25px;
                right: -30px;
                cursor: pointer;

                @include sm {
                    top: -45px;
                    right: -10px;
                }
            }
        }
    }

}

@keyframes animatetop {
    from {
        top: -300px; opacity: 0;
    }
    to {
        top: 0; opacity: 1;
    }
}