header {
    padding: 35px 0;
    background-color: white;
    font-family:'Montserrat', sans-serif;

    @include xs {
        padding: 25px 0 15px 0;
    }

    .header__block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @include md {
            gap: 0 40px;
        }

        @include sm {
            gap: 0 10px;
        }

        @include xs {
            gap: 20px 0;
        }

        @include xs {
            flex-wrap: wrap;
        }

        .header__l__side {
            display: flex;
            align-items: center;
            justify-content: center;

            @include lg {
                gap: 0 10px;
            }

            @include md {
                gap: 0 10px;
            }

            .header__l__logo{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 0 38px;

                @include xl{
                    gap: 0 10px;
                }
            }

            .header__logo {
                z-index: 5;
            }

            .header__subtitle{
                font-weight: 500;
                font-size: 12px;
                font-family:'Montserrat', sans-serif;
                font-weight: 500;
                color: black;
                font-style: italic;
                position: relative;

                @include lg {
                    font-size: 10px;
                }

                @include xxs {
                    display: none;
                }
            }

            .header__nav-menu {
                margin-left: 90px;

                @include xl {
                    margin-left: 50px;
                }

                @include lg {
                    margin-left: 20px;
                }

                .header__lists {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    gap: 0 90px;

                    @include xxl {
                        gap: 0 40px;
                    }

                    @include xl{
                        gap: 0 20px;
                    }

                    @include lg {
                        gap: 0 20px;
                    }

                    .header__list__link{
                        font-family:'Montserrat', sans-serif;
                        font-weight: 700;
                        font-size: 16px;
                        font-weight: bold;
                        color: black;
                        transition: all 0.2s ease;

                        @include lg{
                            font-size: 14px;
                        }

                        &:hover{
                            color: #4397ff;
                        }
                    }

                    @include md {
                        position: fixed;
                        right: -100%;
                        top: 0;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        transition: 0.3s all ease;

                        &.active {
                            right: 0;
                            z-index: 5;
                            background: linear-gradient(52deg, #94e6f4, #ffcde8);
                        }
                    }

                    @include xs {
                        flex-direction: column;
                    }

                    .header__list{

                        .header__list__link {
                            text-decoration: none;
                            font-family:'Montserrat', sans-serif;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .header__r__side {

            @include md {
                padding-right: 55px;
            }

            @include xs {
                justify-content: center;
                padding-right: 0;
                text-align: center;
                align-items: center;
            }

            .header__r__links{
                display: flex;
                align-items: center;
                flex-direction: column;

                @include xs {
                    gap: 10px;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                a {
                    text-decoration: none;
                }

                .header__call{
                    font-family:'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 20px;
                    font-weight: bold;
                    color: black;

                    @include lg {
                        font-size: 15px;
                    }

                    @include xxs {
                        font-size: 12px;
                    }

                    span{
                        font-size: 25px;

                        @include lg {
                            font-size: 20px;
                        }

                        @include xxs {
                            font-size: 16px;
                        }
                    }
                }

                .header__telAndbtn{

                    @include sm {
                        display: flex;
                        align-items: center;
                        gap: 0 10px;
                    }

                    @include xs {
                        gap: 0 150px;
                    }

                    @include xxs {
                        gap: 0 30px;
                    }
                }

                .header__sign__up{
                    padding: 20px;
                    position: absolute;
                    top: 60px;
                    right: 0;
                    z-index: 2;
                    font-size: 12px;

                    @include lg {
                        padding: 15px;
                    }

                    @include sm {
                        position: relative;
                        top: 0;
                        right: 0;
                        padding: 10px;
                    }

                    @include xs {
                        padding: 10px 20px;
                    }

                    @include xxs {
                        padding: 5px 5px;
                        font-size: 12px;
                    }

                }
            }

            .header__hamburger{
                display: none;
        
                @include md {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    z-index: 17;
                }

                @include sm {
                    top: 0;
                    right: 0;
                }
        
                .header_hamburger-menu{
                    border: none;
                    cursor: pointer;
                    display: flex;
                    padding: 0;
                    background: none;

                    &.opened {
                        position: fixed !important;
                        right: 25px;
                    }
                }
        
                .line {
                    fill: none;
                    stroke: #46A6FF;
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                }
                .line1 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
                .line2 {
                    stroke-dasharray: 60 60;
                    stroke-width: 6;
                }
                .line3 {
                    stroke-dasharray: 60 207;
                    stroke-width: 6;
                }
                .opened .line1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
                .opened .line2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }
                .opened .line3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }
        }
    }
}